.sobre__descripcion {
  color: #8c8888;
  font-weight: 100;
}

@media screen and (min-width: 0px) {
  .sobre__descripcion {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .sobre__descripcion {
    font-size: 1.75rem;
  }
}
