.sobre__titulo {
  color: #da2b1f;
  font-family: Pacifico, cursive;
}

@media screen and (min-width: 0px) {
  .sobre__titulo {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .sobre__titulo {
    font-size: 3.1875rem;
  }
}
